.close__galleryApp {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    z-index: 10;
}

.close__galleryApp::before, .close__galleryApp::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: rgb(212, 212, 212);
    border-radius: 2px;
}

.close__galleryApp::before {
    top: 13.5px;
    transform: rotate(45deg);
}

.close__galleryApp::after {
    bottom: 13.5px;
    transform: rotate(-45deg);
}

.close__galleryApp:hover::before, .close__galleryApp:hover::after {
    background-color: #fff;
}

.close__galleryApp:hover {
    cursor: pointer;
}